
	
	.footer {
  		position: absolute;
  		right: 0;
  		bottom: 0;
  		left: 0;
  		padding: 1rem;
  		text-align: center;
  		font-size: 20px;
  		border-top: 1px solid #000;
 	}
 	
 	.header {
 		text-align: center;
 		font-size: 50px; 
		border-bottom: 1px solid #000; 
		font-family: cursive;
		padding: 1rem;
  	}  

 	.headerlink {
 		text-align: left;
 		font-size: 15px; 
		border-bottom: 1px solid #000; 
		padding: 20px;
		margin: 0;
  	}  

  
	.border {
		border-bottom: 1px solid #000; 
	}

	.boxed {
		border: 1px solid #000; 
		width:400px;
		margin:auto;
		text-align:center;
	}


	.homeContent {
		background-color: cornsilk;
	}