
	.list1 {
		list-style-position: inside; 
		padding-left: 400px; 
		text-indent:-16px; 
		padding-right: 300px; 
		line-height: 125%;
		font-style:italic;
	}
	
	
	.body {
		background-image: url("https://up-1.cdn-fullscreendirect.com/production/photos/10291/medium/20160929_145526_10291_956105.jpeg");	
		background-repeat: no-repeat;
		background-position: center center;
		height:400px;
	}
	
	

